.episode {
    p {
        font-family: 'PT Serif', serif;
        font-size: $font-size-small;
        line-height: 20px;
		margin: 0px;
    }
}

.media {
	margin-bottom: 25px;
}

.media-heading {
	font-weight: bold;
}